@font-face {
  font-family: "NoTrak Resume";
  src: url("/fonts/resume/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "NoTrak Resume";
  src: url("/fonts/resume/NotoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
